<% @books.each do |book| %>
  <div class="col-sm-6 col-sm-4 col-md-3 col-log-3 nht-list-book-content">
    <%= link_to book do %>
      <%= image_tag book.photo.url, class: "nht-book-photo", alt: book.title %>
    <% end %>
    <p class="nht-book-author"><%= book.author %></p>
    <hr>
  </div>
<% end %>
<%= paginate @books, remote: true %>
