<div id="nht-like-<%= review.id %>" class="nht-like">
  <% if current_user.like? review %>
    <%= render "shared/unlike", review: review,
      like: current_user.likes.find_by(review_id: review.id) %>
  <% else %>
    <%= render "shared/like", review: review %>
  <% end %>
</div>
