<% @requests.each do |request| %>
  <tr>
    <td><%= request.book_title %></td>
    <td><%= request.book_publish_date %></td>
    <td><%= request.book_author %></td>
    <td><%= link_to t("request.delete"), [current_user, request], method: :delete,
      data: {confirm: t("request.confirm")}, remote:true,
      class: "btn btn-danger" %>
    </td>
  </tr>
<% end %>
