.nht-admin-book-index {
  min-height: 100vh;
  height: auto;

  .nht-admin-btn-category {
    float: right;
    margin-bottom: 20px;
  }

  h1 {
    text-align: center;
    margin: 0px;
    margin-bottom: 5px;
  }

  .nht-admin-book-table {
    width: 100%;

    .nht-admin-book-photo {
      width: 100px;
      height: 150px;
    }
  }

  .nht-admin-btn-book {
    float: right;
  }
}

.nht-admin-book {
  .modal-dialog {
    .modal-content {
      overflow: hidden;
      overflow-y: scroll;
      max-height: 600px;
      height: auto !important;
      margin-top: 50px !important;
      padding-bottom: 20px !important;
      position: relative;

      .close {
        position: absolute;
        top: 5px;
        right: 5px;
      }

      .nht-admin-btn-book {
        float: right;
        margin: 20px;
        margin-bottom: 10px;
      }
    }
  }

  #avatar {
    width: 100px;
    height: 100px;
  }

  .nht-book-address-top {
    text-align: center;
  }

  .nht-admin-book-content {
    .nht-book-content-left {
      text-align: center;
      .author {
        color: #008340;
        margin-top: 5px;
      }
    }

    .nht-book-content-right {
      .nht-book-description-title {
        text-align: center;
      }
    }
  }
}

.nht-admin-book-form {

  .modal-dialog {
    .modal-content {
      overflow: hidden;
      overflow-y: scroll;
      max-height: 600px;
      height: auto !important;
      margin-top: 50px !important;
      padding-bottom: 20px !important;
      position: relative;
      padding: 10px;

      .close {
        position: absolute;
        top: 5px;
        right: 5px;
      }

      .nht-admin-btn-book {
        float: right;
        margin: 20px;
        margin-bottom: 10px;
      }

      .nht-single {
        display: none;
      }

      .glyphicon-plus {
        margin-bottom: 10px;
      }
    }
  }

  h1 {
    text-align: center;
  }

  .input-group {
    margin-bottom: 10px !important;

    .nht-icon {
      font-size: 1.4em !important;
      width: 20px;
    }
  }

  .nht-book-description {
    max-height: 350px;
    min-height: 200px;
    height: auto;
  }
}

.nht-admin-search-form {
  .input-group {
    margin: auto;
    max-width: 500px;
    margin-bottom: 10px;

    .nht-icon {
      width: 30px !important;
      font-size: 1.3em !important;
    }
  }

  .nht-btn-search {
    text-align: left;
    float: left;
  }
}
