.nht-admin-category-index {
  min-height: 100vh;
  height: auto;

  .nht-admin-btn-category {
    margin-bottom: 10px;
  }

  h1 {
    text-align: center;
    margin: 0px;
    margin-bottom: 5px;
  }

  .nht-admin-search-form {
    text-align: center;

    .input-group {
      margin: auto;
      max-width: 500px;
      margin-bottom: 10px;

      .nht-icon {
        width: 30px !important;
        font-size: 1.3em !important;
      }
    }

    .nht-btn-search {
      margin-bottom: 10px;
    }
  }
}

.nht-admin-category {

  .modal-dialog {
    .modal-content {
      margin-top: 100px !important;
      padding: 20px !important;

      .input-group {
        margin-bottom: 10px;
      }

      h1 {
        text-align: center;
      }

      .nht-icon {
        font-size: 1.4em !important;
      }
    }
  }
}

.nht-admin-btn-category {
  margin-right: 5px;
  float: right;
}
