.logo {
  a {
    color: white;
  }
  a:hover {
    color: white;
  }
}

.sidebar {
  .nht-icon {
    font-size: 1.5em !important;
    margin-right: 10px;
  }
}

.nht-fix-alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  border-radius: 5px;
}

.alert {
  width: calc(50% - 30px);
  float: left;
  margin-left: 30px;
  padding: 0 !important;
  border: none !important;
}
.alert-danger {
  background-color: transparent !important;
  color: red !important;
}
