.nht-admin-user-index {
  h1 {
    text-align: center;
    margin: 0px !important;
    margin-bottom: 10px !important;
  }
  .nht-user-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
}