<div class="nht-admin-category-index">
  <h1><%= t "category.all_category" %></h1>
  <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
    <div id="nht-admin-category-index">
      <%= render "category_index" %>
    </div>
  </div>
</div>
