<div class="nht-admin-request-index">
  <h1><%= t "request.all" %></h1>
  <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
    <div id="nht-admin-request-index">
      <%= render "request_index" %>
    </div>
  </div>
</div>
