.nht-book-box {
  background-color: #FFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
  margin-bottom: 5px;
  margin-top: 60px;

  .nht-book-address-top {
    padding-left: 20px;
    padding-top: 15px;
    word-wrap: break-word;
    text-align: center;
    text-decoration: none;
    color: #0085A1;
  }

  .nht-book-show-top {
    padding-top: 20px;
    min-height: 25px;

    hr {
      margin: 10px 0 !important;
    }
  }

  .nht-book-content {
    padding: 10px;

    .nht-book-content-left {
      padding-left: 30px;
      padding-right: 10px;
      text-align: center;

      .nht-book-mark {
        float: left;
        margin-bottom: 10px;

        .nht-bookmark-icon {
          font-size: 2em;
          color: #0085A1;
        }

        .nht-bookmark-icon:hover {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
      }

      .nht-book-detail {

        p {
          text-align: center;
        }

        span {
          word-wrap: break-word;
        }

        .author {
          color: #008340;
          margin-bottom: 0.1em;
        }

        .title {
          .nht-book-attribute {
            font-weight: bold;
            display: inline-block;
          }

          .nht-book-attribute-value {
            display: inline-block;
          }
        }

        .nht-book-rate {
          text-align: left;
          padding: 5px;
          border: 1px solid #e3e3e3;
          border-radius: 4px;

          .nht-book-rate-left {
            float: left;
            margin-top: 5px;

            .nht-book-rate-sum {
              text-align: center;
            }
          }

          .nht-book-rate-right {
            float: right;

            .bar-content {
              width: 100%;
              margin-bottom: 5px;

              .star {
                display: inline;
                width: 20%;
                float: left;
                padding-top: 3px;
              }
            }

            .five {
              .bar {
                padding-left: 5px;
                display: inline;
                float: left;
                width: 80%;
                background-color: #88b131;
              }
            }

            .four {
              .bar {
                padding-left: 5px;
                display: inline;
                float: left;
                width: 80%;
                background-color: #99cc00;
              }
            }

            .three {
              .bar {
                padding-left: 5px;
                display: inline;
                float: left;
                width: 80%;
                background-color: #ffcf02;
              }
            }

            .two {
              .bar {
                padding-left: 5px;
                display: inline;
                float: left;
                width: 80%;
                background-color: #ff9f02;
              }
            }

            .one {
              .bar {
                padding-left: 5px;
                display: inline;
                float: left;
                width: 80%;
                background-color: #ff6f31;
              }
            }
          }

          .nht-book-rate-left {
            .nht-book-rate-content {
              color: #0085A1;

              h1 {
                font-weight: 400;
                margin: 10px 0;
                font-size: 3em;
              }
            }
          }
        }
      }

      .nht-book-photo {
        text-align: center;
        width: 100%;
        height: 350px;
        margin-bottom: 5px;
      }
    }

    .nht-book-content-right {
      padding-left: 40px;

      .nht-book-content-right-detail {
        width: 100%;
        font-family: Arial,Helvetica,sans-serif;
        line-height: 35px;

        .nht-book-address-bottom {
          padding-left: 20px;
          margin-top: 0px;
        }
      }
    }
  }
}

.nht-book-other_book {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 5px;

  #nht-book-photo {
    width: 70%;
    height: 200px !important;
    padding: 5px;
    margin: 20px;
  }

  .nht-book-other:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.nht-book-review {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 10px;
}

.nht-list_book {
  text-align: center;

  .nht-list-book-content:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .modal-dialog {
    width: 80% !important;

    .modal-content {
      position: relative;
      padding: 10px !important;

      .close {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 2em;
      }
    }
  }

  .nht-list-book-content {
    padding-top: 10px;

    .nht-book-photo {
      height: 200px;
      margin-bottom: 10px;
    }

    .nht-book-author {
      color: #008340;
    }

    .hr {
      margin-top: 0px !important;
      margin-bottom: 5px !important;
    }
  }
}

.nht-book-index {
  margin-top: 60px;
  text-align: center;

  .input-group {
    width: 50% !important;

    .nht-icon {
      width: 5px;
      font-size: 20px;
    }


    .form-control {
      width: 100% !important;
      z-index: 0 !important;
    }
  }
}
