.nht-comment-form {

  .nht-comment-avatar {
    float: left;

    #avatar {
      max-height: 40px;
      min-height: 35px;
      min-width: 35px;
      border-radius: 100%;
      vertical-align: middle;
    }

    .form-control {
      min-height: 40px !important;
    }
  }

  .nht-comment-content {
    margin: auto;
    float: left;

    .form-control {
      height: auto;
      width: 100%;
    }
  }
}
