#signupbox {
  padding-top: 10%;
}

#loginbox {
  padding-top: 10%;
}

#div_signin_signup {
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  background-image: url("signin_signup.jpg");
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px !important;
  margin-top: 5px !important;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

._check_box {
  margin-left: 0px !important;
}

.btn-signup {
  padding-left: 0px;
  width: 100%;
}

#flash {
  position: fixed;
  margin-left: 64%;
  margin-top: 6%;
  left: 20px;
  z-index: 10000;
  padding: 10px;
  width: 30%;
  word-wrap: break-word;
}

.nht-flash {
  display: inline-block;
}