.nht-profile-home {
  max-width: 1400px !important;
  margin-top: 80px !important;

  .nht-activity {
    overflow: hidden;
    overflow-y: scroll;
    height: 50vh;
    margin-bottom: 5px;

    li {
      list-style-type: none;
      text-align: left;
      margin-left: 10px;
    }
  }

  .nht-book-most:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .nht-profile-avatar {
    height: 106px;
    width: 106px;
  }

  .nht-book-author {
    color: #008340;
  }

  .nht-follow-detail{
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: Verdana,sans-serif;

    .nht-followed {
      float: left;
      font-size: 15px;
    }

    .nht-follower {
      float: right;
      font-size: 15px;
      text-align: right;
    }
  }

  .nht-review-index {
    margin-top: 0px !important;
    padding-top: 5px;
    position: relative;

    .nht-review {
      margin: 0 -16px;
    }

    .small {
      position: absolute;
      top: 5px;
      right: 10px;
      width: auto;
    }

    .nht-btn-like-cmt {
      float: right;
    }

    .nht-review-title-book {
      color: #0085A1;
      font-style: italic;
    }
  }

  .nht-reviews {
    text-align: center;
  }
}
