.nht-request-index {
  margin-top: 60px;

  h1 {
    text-align: center;
  }

  .nht-btn-request {
    margin-bottom: 10px;
  }
}

.nht-request-new {
  position: relative;

  h1 {
    text-align: center;
  }

  .modal-dialog {
    width: 600px !important;

    .modal-content {
      padding-top: 20px !important;

      .input-group {
        margin-bottom: 10px !important;

        .form-control {
          width: 100% !important;
        }

        .nht-icon {
          font-size: 20px;
          width: 20px;
        }
      }

      .nht-btn-request-new {
        margin-bottom: 20px;
        margin-right: 40px;
        float: right;
      }
    }

    .close {
      position: absolute;
      top: -10px;
      right: -10px !important;
    }
  }
}
.datepicker{z-index:1151 !important;}
