.nht-profile {
  margin-top: 100px !important;
  padding-bottom: 100px !important;

  .nht-profile-title {
    font-size: 30px;
  }

  .nht-profile-box {
    margin-bottom: 200px !important;
    margin: -16px;

    .td-user-profile-detail {
      padding-bottom: 30px;
    }

    #avatar {
      width: 100%;
      height: 300px;
    }
  }

  .nht-profile-box .td-p-flex {
    word-break: break-all;
  }

  .nht-user-info {
    .user-name {
      font-size: 20px;
    }

    .user-home {
      font-size: 20px;
    }

    .nht-user-submit {
      float: right;
      padding: 5px;
    }

    .change-password {
      margin-right: 5px;
      text-decoration: underline;
    }

    .input-group {
      margin-right: 0px;
    }
  }

  .td-user-info {
    padding-bottom: 30px;
    .td-user-review {
      margin-top: 30px;
      padding-bottom: 20px;
      border-bottom: 3px solid #D9D9D9;
      hr {
        margin: 5px 25px 20px 25px !important;
      }
      .td-user-review-title {
        .td-user-review-name {
          font-weight: 600;
        }
      }
    }
  }
}