<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top nht-navbar">
  <div class="container">
    <div class="navbar-header page-scroll">
      <p id="title", class="navbar-brand page-scroll">
        <%= link_to t(:title), root_url, class: "navbar-brand nht-title" %>
      </p>
    </div>
  </div>
</nav>