<div class="nht-admin-user-index">
  <h1><%= t "user.all_user" %></h1>
  <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
    <div id="nht-admin-user-index">
      <%= render "user_index" %>
    </div>
  </div>
</div>
<div id="admin-user-modal" class="modal fade"></div>