<div class="col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-2 col-md-8
  col-md-offset-2 col-lg-8 col-lg-offset-2 nht-review-show">
  <h3><%= t "review.review_of", book: @review.book.title %></h3>
  <%= render "review", review: @review %>
</div>
