<div class="col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 col-md-10
  col-md-offset-1 col-lg-10 col-lg-offset-1 nht-review-show">
  <h3><%= t "review.review_of", book: @review.book.title %></h3>
  <%= render "review", review: @review %>
</div>
